*{
    margin:0;
    padding:0;
}
:root{
    --green:#8cff003b;
    --greene:#62a70633;
    --gray:#262a2aa1;
}
/* Navbar */
.c1{
    width:90%;
    margin:5%;
}
.header_desc{
    margin-left:10%;
}
.navbar{
    list-style: none;
    line-height:5;
    margin-left: 4.2%;
}
.header{
    background: linear-gradient(to bottom,var(--green),#e8e8e8);
}
.list{
    text-decoration: none;
    margin-left:90%;
}
.nav__list{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    text-transform: capitalize;
    font-size:18px;
}
a:hover,
a:visited{
    text-decoration: none !important;
}
.b1{
    background: #e8e8e8;
    transition: 0.5s;
}

/* Home Description */
.info{
    position: absolute;
    margin-top:-0%;
}
.quote{
    font-size:4vw;
    font-weight: bold;
    color:#0066ff;
    text-shadow:2px 2px 2px #68e60e;
}
.drive{
    font-size: 7vw;
}
.__message{
    opacity: .83;
    color:var(--gray);
    position: absolute;
    font-size: 1.5vw;
    font-family:poppins;
    margin-top:9%;
    margin-left:5%;
}
._img{
    width:20%;
    opacity: 0.9;
    mix-blend-mode: difference;
    position: absolute;
}
.home__img{
    margin-left:75%;
}